@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

body {
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: $font-reg;
    background-color: $lightGrayishBlue;
}

.container {
    display: grid;
    grid-template-areas: 
    "daniel"
    "daniel"
    "jonathan"
    "jeanette"
    "patrick"
    "patrick"
    "kira"
    "kira";

    padding: 0 1.1875rem;
    padding-top: 3.125rem;

    @include breakpoint-up(large) {
        margin: 4.5rem 5rem;
        padding: 0;

        grid-template-areas: 
        "daniel daniel daniel daniel jonathan kira"
        "jeanette patrick patrick patrick patrick kira";
    }
}